<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Cherry+Cream+Soda" rel="stylesheet">
  </head>
  <body>

    <div class="pages dark-grey">
      <div>
        <div id="assets">
          <h1>UrMovie</h1>
        </div>
      </div>
    </div>

    <div class="pages light-grey">
      <div>Test div</div>
    </div>

  </body>
</html>
